
body {
    /* --tile-height: 300px;
    --tile-width: calc(var(--tile-height) * 0.866); */
    --tile-width: 15vw;
    --tile-height: calc(var(--tile-width) * 1.155);
    --tile-margin: 0px;
}

.board {
    position: relative;
    width: calc((var(--tile-width) + var(--tile-margin)) * 5);
    height: calc((var(--tile-height) + var(--tile-margin)) * 4);
}

.tile {
    position: absolute;
    top: calc((var(--tile-height) + var(--tile-margin)) * 0.75 * var(--row));
    left: calc((var(--tile-width) + var(--tile-margin)) * var(--col));

    width: var(--tile-width);
    height: var(--tile-height);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    
    background-image: url("catan-tiles.jpg");
    background-size: 316%;
}

.tile.sheep {
    background-position: 99% 67%;
}
.tile.wood {
    background-position: 99% 100%;
}
.tile.clay {
    background-position: 51% 17%;
}
.tile.stone {
    background-position: 2% 34%;
}
.tile.wheat {
    background-position: 51% 67%;
}
.tile.desert {
    background-position: 2% 0.5%;
}
